body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
}
section{
    margin: 0;
}
.header_section{
    background-color: rosybrown;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}
.footer_section{
    background-color: rosybrown;
    display: flex;
    position: fixed;
    width: 100%;
    bottom:0;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.form_details{
    margin-left:4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
.descriptions{
    margin: 1% 4% 2% ;
}
.main_container{
    margin: 0px;
    padding: 0px;
}
#image_logo{
    height: 60px;
    width: 60px;
}
#image_hotel{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    height: 500px;
    width: 500px;
}
.social_image{
    height: 20px;
    width: 22px;
}
*{
    font-family: 'Ubuntu', sans-serif;
}