body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
}
section{
    margin: 0;
    padding: 4%;
}
.header_section{
    background-color: rosybrown;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}
.footer_section{
    background-color: rosybrown;
    display: flex;
    position: fixed;
    width: 100%;
    bottom:0;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.hotel{
    background-color: rgb(132,136,139);
    height: 20%;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.hotel1{
    margin: 2%;
}
.hotel2{
    margin: 2%;
    border: 1px solid black;
    padding: 1% 2%;
    border-radius: 5px;
}
#image_logo{
    height: 60px;
    width: 60px;
}
#image_hotel{
    height: 500px;
    width: 500px;
}
.social_image{
    height: 20px;
    width: 22px;;
}
*{
    font-family: 'Ubuntu', sans-serif;
}